<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
    <style>
        {% block css%} {% endblock %}
    </style>
  </head>
  <body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">My Awesome Cart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/shop">Home</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="/shop/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop/tracker">Tracker</a>
            </li>

             <li class="nav-item">
              <a class="nav-link" href="/shop/checkout">Checkout</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/shop/contact">Contact Us</a>
            </li>

          </ul>
          <form class="d-flex" method='GET' action='/shop/search'>
            <input class="form-control me-2" name='search' id='search' type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          
          <button type="button" class="btn btn-secondary mx-2" id="popcart" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus.">
          CART(<span id="cart"></span>)
          </button>
        </div>
      </div>
    </nav>

    {%block body%} {% endblock %}
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block js%} 

 <script>
   //finc out the cart items fro localstorage
  if(localStorage.getItem('cart') == null){
    var cart = {}
  }else{
    cart = JSON.parse(localStorage.getItem('cart'))
    updateCart(cart);
  }

  //if the add to cart button is clicked, add/increment the item
  $('.divpr').on('click', 'button.cart', function(){

    var idstr = this.id 
    {% comment %} toString() {% endcomment %}

    if(cart[idstr] != undefined){
      cart[idstr][0] += 1
    }else{
      qty = 1;
      name = document.getElementById('name' + idstr).innerHTML;
      cart[idstr] = [qty, name];
    }

    localStorage.setItem('cart', JSON.stringify(cart))
    updateCart(cart);
    updatePopover(cart);
  })




  function updateCart(cart){
    let sum = 0;
    for(var item in cart){
      //console.log(item)
      sum = cart[item][0] + sum;
      document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart))
    document.getElementById('cart').innerHTML = sum;
    updatePopover(cart);
  }

  $('.divpr').on('click', 'button.minus', function(){
    let a = this.id.slice(5,)
    if(cart[a][0] > 0){
      cart[a][0] -= 1;
    }else{
      cart[a][0] = cart[a][0]
    }
    document.getElementById('val' + a).innerHTML = cart[a][0]
    updateCart(cart)
  });

  $('.divpr').on('click', 'button.plus', function(){
    let a = this.id.slice(4,)
    cart[a][0] += 1;
    document.getElementById('val' + a).innerHTML = cart[a][0]
    updateCart(cart) 
    //console.log(cart)
  })

  // add popover to cart
  function updatePopover(cart){
    //console.log('we are inside updatepopover');
    var popStr = "";
    popStr = popStr + "<h5>Cart for you items in my shopping cart </h5> <div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart){
      popStr = popStr + "<b>" + i + "</b>. ";
      popStr = popStr + document.getElementById('name' + item).innerHTML + ": Qty: " + cart[item][0] + '<br>';
      i += 1;
      //console.log(popStr)
    }

    popStr = popStr + "</div> <a href='/shop/checkout'><button class='btn btn-primary'>Checkout</button></a> <button class='btn btn-primary' id='clearCart' onclick='clearCart()'>ClearCart</button>"
    document.getElementById('popcart').setAttribute('data-content', popStr)
    $('#popcart').popover()
  }

  updatePopover(cart);


  function clearCart(){
    cart = JSON.parse(localStorage.getItem('cart'))

    for(let item in cart){
      document.getElementById('div' + item).innerHTML = "<button id='" + item + "' class='cart btn btn-primary'>Add to Cart</button>"
    }
    localStorage.clear();
    cart = {}
    updateCart(cart);
  }


  console.log(cart)
 </script>
{% endblock %}
</body>
</html>