{% extends 'shop/basic.html' %}
{% block title %}Checkout{% endblock  %}


{% block body %} 
<div class="container">
  <div class="col my-4">
    <h2>Checkout</h2>
    <div>
      <ul class="list-group " id="items">
        
      </ul>
    </div>
  </div>

  <div class="col my-2">
    <h2>Enter details</h2>
    <form method='POST' action='/shop/checkout'>{% csrf_token %}
      <input type="hidden" name="itemsJson" id="itemsJson">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputName">Name</label>
          <input type="name" class="form-control" id="name" name='name' placeholder="Name">
        </div>

        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="email" name='email' placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPhone4">Phone</label>
          <input type="tel" class="form-control" id="phone" name='phone' placeholder="Phone">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="address1" name='address1' placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="address2" name='address2' placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="city" name='city'>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <input type="text" class="form-control" id="state" name='state'>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="zip" name='zip'>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Place Order</button>
    </form>
  </div>
</div>
{% endblock  %}


{% block js %}
<script>
  if(localStorage.getItem('cart') == null){
    var cart = {}
  }else{
    cart = JSON.parse(localStorage.getItem('cart'))
  }

  let sum = 0;
  if($.isEmptyObject(cart)){
    str = "Please add some items"
    $('#items').append(str)
  }
  else{
    let totalprice = 0;
    let totalquantity = 0;
    for (item in cart){
      let name = cart[item][1]
      let qty = cart[item][0]
      totalquantity = qty + totalquantity
      let price = cart[item][2]
      price = price.slice(2,)
      totalprice = Number(price) + totalprice
      sum += qty;
      let str = `<li class="list-group-item d-flex justify-content-between align-items-center">
        ${name}
        <span class="badge badge-primary badge-pill">Rs ${price}</span>
        <span class="badge badge-primary badge-pill">${qty}</span>
      </li>`
  
      $('#items').append(str)
    }
    let str = `<li class="list-group-item d-flex justify-content-between align-items-center">
      TotalPrice
      <span class="badge badge-primary badge-pill">RS ${totalprice}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      TotalQuantity
      <span class="badge badge-primary badge-pill">${totalquantity}</span>
    </li>
    `
    $('#items').append(str)
  }
  {% comment %} console.log($('#itemsJson').val(JSON.stringify(cart))) {% endcomment %}
  document.getElementById('cart').innerHTML = sum;

  {% if thank %}
  alert("Thanks for shopping. Your order id in {{id}}")
    localStorage.clear()
    document.location = "/shop"
  {% endif %}
</script>
{% endblock  %}